<h2>
    <a href="#/converter"
       class="pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    New Converter

    <a ng-click="model.createConverter(model.converter)"
       href="#/converter/new"
       class="pull-right">
        <span class="glyphicon glyphicon-ok"></span>
    </a>
</h2>

Name:
<input ng-model="model.converter.name"
       class="form-control"/>

Description:
<textarea ng-model="model.converter.description"
          class="form-control"
          rows="12"></textarea>