<h2>
    <a href="#/converter"
       class="pull-left">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    Edit Converter

    <a ng-click="model.updateConverter(model.data)"
       href="#/converter"
       class="pull-right">
        <span class="glyphicon glyphicon-ok"></span>
    </a>
</h2>

Name:
<input ng-model="model.data.name"
       class="form-control"/>

Description:
<textarea ng-model="model.data.description"
          class="form-control"
          rows="12"></textarea>

<button ng-click="model.removeConverter(model.data)"
        class="btn btn-danger btn-block">
    Delete
</button>